@import '../../scss/variables';

.services {
	$margin: 7px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
		margin-left: -$margin;
		margin-right: -$margin;  
	}

	&__item {
		width: calc(100% / 3 - #{$margin} - #{$margin});
		margin-left: $margin;
		margin-right: $margin;  
		margin-bottom: 15px;
	}
}