@font-face {
	font-family: "icons";
	src: url('../assets/fonts/iconfonts/icons.eot');
	src: url('../assets/fonts/iconfonts/icons.eot?#iefix') format('eot'),
		url('../assets/fonts/iconfonts/icons.woff2') format('woff2'),
		url('../assets/fonts/iconfonts/icons.woff') format('woff'),
		url('../assets/fonts/iconfonts/icons.ttf') format('truetype'),
		url('../assets/fonts/iconfonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-next:before {
	content: "\E001";
}

.icon-arrow-prev:before {
	content: "\E002";
}

.icon-caret-up:before {
	content: "\E003";
}

.icon-ico1:before {
	content: "\E004";
}

.icon-ico2:before {
	content: "\E005";
}

.icon-ico3:before {
	content: "\E006";
}

.icon-ico4:before {
	content: "\E007";
}

.icon-ico5:before {
	content: "\E008";
}

.icon-ico6:before {
	content: "\E009";
}

.icon-ico7:before {
	content: "\E00A";
}

.icon-ico8:before {
	content: "\E00B";
}

.icon-right:before {
	content: "\E00C";
}
