// Fonts
$basicFontSize: 16px;
$basicFontFamily: 'Montserrat', sans-serif;
$basicFontWeight: 400;
$basicFontStyle: normal;
$basicLineHeight: 1.5625;
$basicColor: #000;
$basicBg: #fff;

// Colors
$pink: #ff699f;
$lightPink: #FEF2F6;
$black: #1f1f1f;

// Container
$containerPadding: 15px;


